td {
  padding: 0.2em 1em;
}

.online {
  color: darkgreen;
}

.offline {
  color: red;
}

.url {
  font-family: 'Courier New', Courier, monospace;
}

.uppct {
  text-align: right;
}

.label {
  display: inline;
}

#addrelay, .nips {
  margin-left: 2em;
}
.addrelay input, .addrelay button {
  margin-left: 1em;
  padding: 0.5em;
}

#relayurl {
  width: 350px;
}

.listrelays {
  margin-top: 2em;;
}

#updated {
  font-style: italic;
  display: inline;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.currentup, .uptime {
  text-align: right;
}

.sortable {
  cursor: pointer;
}

.notsort {
  color: lightgray
}

h2, .update-block {
  text-align: center;
}

/* mostly https://codepen.io/AllThingsSmitty/pen/MyqmdM */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  table-layout: fixed;
  margin: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .nips {
    margin-left: 0;
  }
  table {
    border: 0;
    width: 100%;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  .collapse>td:nth-child(2), .collapse>td:nth-child(3), .collapse>td:nth-child(4), .collapse>td:nth-child(5), .collapse>td:nth-child(6) {
    display: none;
  }

}

#responseResult {
  padding-left: 1em;
}

#responseResult ul {
  text-align: left;
}
#responseResult li {
  font-family: Lucida Console, Courier, monospace;
  list-style: none;
  color: gray;
}

.testHeading p {
  font-style: italic;
  font-size: 0.8em;
  color: lightslategray;
}

#relayTest, .testHeading {
  display: flex;
  justify-content: center;
}

.idle {
  display: none;
}

.running {
  margin-top: 0.3em;
  color: green;
  display: block;
}

